// fonts
@font-face {
  font-family: TitlingGothicFBWideBold;
  src: url("../fonts/TitlingGothicFBWide-Bold.otf");
}
@font-face {
  font-family: TitlingGothicFBWideLight;
  src: url("../fonts/TitlingGothicFBWide-Light.otf");
}
@font-face {
  font-family: TitlingGothicFBWideStand;
  src: url("../fonts/TitlingGothicFBWide-Stand.otf");
}
// fonts

// def code
@media (min-width: 1200px){
	.container {
	    max-width: 1011px;
	}
}
a{
	-webkit-transition: all .15s ease;
	   -moz-transition: all .15s ease;
	    -ms-transition: all .15s ease;
	     -o-transition: all .15s ease;
	        transition: all .15s ease;
}
a:focus{
	outline: none;
}
a:hover{
	opacity: 0.7;
}
body{
	background: black;
}
*{
	// -webkit-font-smoothing: antialiased;
	//   -moz-osx-font-smoothing: grayscale
}
// video::-webkit-media-controls-overlay-play-button {
//   display: none;
// }

// def code end



// start video code
.startvideo{
	background: black;
	overflow: hidden;

	.videocont{
		min-height: 100vh;
		position: relative;
		video{
			max-width: 100%;
			position: absolute;
			  top: 50%;
			  transform: translateY(-50%) !important;
		}
	}
}
@media(max-width: 772px){
	.startvideo .videocont {
	    width: 200%;
	    max-width: 200%;
	    margin-left: -50%;
	    position: relative;
	    z-index: 0;
	}
}
// start video code




// kyra_1 code
.kyra_1{
	background: url("../img/herosecbg.png") no-repeat center center fixed; 
	  -webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
	  background-size: cover;
	padding-bottom: 265px;

	padding-top: 198px;
	padding-bottom: 199px;
	margin-bottom: 112px;

	h1{
		max-width: 700px;
		margin: auto;
		text-align: center;
		color: #fff;

		font-family: TitlingGothicFBWideBold;
		font-size: 35px;
		font-weight: bold;
		font-stretch: normal;
		font-style: normal;
		line-height: 1.14;
		letter-spacing: normal;

		margin-bottom: 25px;
	}
	p{
		max-width: 675px;
		margin: auto;
		text-align: center;
		color: #fff;

		font-family: TitlingGothicFBWideLight;
		font-size: 15px;
		font-weight: 300;
		font-stretch: normal;
		font-style: normal;
		line-height: 1.67;
		letter-spacing: normal;
	}
}
// kyra_1 code ned



// kyra_click_to_play code
.kyra_click_to_play{
	background: black;
	padding-bottom: 100px;
	video{
		max-width: 100%;
		width: 100%;
		position: relative;
		z-index: 0;
	}
	.videoforstart{
		position: absolute;
		top: -3px;
		z-index: 2;
		// min-height: 540px;
		opacity: 0;
		width: 100%;
		height: 100%;

		-webkit-transition: all .25s ease;
		   -moz-transition: all .25s ease;
		    -ms-transition: all .25s ease;
		     -o-transition: all .25s ease;
		        transition: all .25s ease;
	}
	.videoforstart:focus{
		outline: none;
	}
	

	.videocontainer{
		// height: 540px;
		overflow: hidden;
		position: relative;
		.forclickvvv{
			width: 100%;
			height: 100%;
			position: absolute;
			z-index: 999;
		}
	}
	.click_to_play{
		position: absolute;
		z-index: 1;
		font-family: TitlingGothicFBWideBold;
		font-size: 28px;
		font-weight: bold;
		font-stretch: normal;
		font-style: normal;
		line-height: 1.33;
		letter-spacing: normal;
		text-align: center;
		color: #ffffff;
		text-transform: uppercase;

		margin: auto;
		text-align: center;
		width: 100%;

		position: absolute;
		  top: 50%;
		  transform: translateY(-50%);
	}
}
// kyra_click_to_play code end






// shows code
.shows{
	background: black;
	padding-bottom: 69px;

	h1{
		max-width: 700px;
		margin: auto;
		text-align: center;
		color: #fff;

		font-family: TitlingGothicFBWideBold;
		font-size: 35px;
		font-weight: bold;
		font-stretch: normal;
		font-style: normal;
		line-height: 1.14;
		letter-spacing: normal;

		margin-bottom: 25px;
	}
	p{
		max-width: 639px;
		margin: auto;
		text-align: center;
		color: #fff;

		font-family: TitlingGothicFBWideLight;
		font-size: 15px;
		font-weight: 300;
		font-stretch: normal;
		font-style: normal;
		line-height: 1.67;
		letter-spacing: normal;
	}
}
// shows code end




// ppls code
.ppls{
	background: black;
	padding-bottom: 100px;
	a{
		position: relative;
		display: block;
	}
	img{
		max-width: 100%;
	}
	.logo{
		position: absolute;
		z-index: 1;
		left: 0;
		right: 0;
		max-width: 100%;
		margin: auto;

		padding-left: 15px;
		padding-right: 15px;


		top: 50%;
		 transform: translateY(-50%);


		 @media(max-width: 772px){
		 	padding-left: 35px;
		 	padding-right: 35px;
		 }
	}
	a{
		margin-bottom: 5px;
		img{
			-webkit-transition: all .25s ease;
			   -moz-transition: all .25s ease;
			    -ms-transition: all .25s ease;
			     -o-transition: all .25s ease;
			        transition: all .25s ease;
		}
	}

	a:hover{
		opacity: 1;
		text-decoration: none;
		img{
			opacity: 0.5;
		}
		.logo{
			opacity: 1;
		}
	}




	.col-6{
		padding: 0;
		padding-left: 3.5px;
		padding-right: 3.5px;
	}
	.row{
		padding-left: 12.5px;
		padding-right: 12.5px;
	}
}
// ppls code end






// shows code
.brands{
	background: black;
	padding-bottom: 60px;

	h1{
		max-width: 700px;
		margin: auto;
		text-align: center;
		color: #fff;

		font-family: TitlingGothicFBWideBold;
		font-size: 35px;
		font-weight: bold;
		font-stretch: normal;
		font-style: normal;
		line-height: 1.14;
		letter-spacing: normal;

		margin-bottom: 25px;
	}
	p{
		max-width: 598px;
		margin: auto;
		text-align: center;
		color: #fff;

		font-family: TitlingGothicFBWideLight;
		font-size: 15px;
		font-weight: 300;
		font-stretch: normal;
		font-style: normal;
		line-height: 1.67;
		letter-spacing: normal;
	}
}
// shows code end



// ppls code
.brandsppls{
	background: black;
	.imgdiv{
		a{
			position: relative;
			display: block;
			.logo{
				position: absolute;
				z-index: 1;
				left: 0;
				right: 0;
				max-width: 100%;
				margin: auto;

				padding-left: 15px;
				padding-right: 15px;


				top: 50%;
				 transform: translateY(-50%);
			}
			img{
				-webkit-transition: all .25s ease;
				   -moz-transition: all .25s ease;
				    -ms-transition: all .25s ease;
				     -o-transition: all .25s ease;
				        transition: all .25s ease;
			}
		}
		a:hover{
			opacity: 1;
			text-decoration: none;

			img{
				opacity: 0.6;
			}
			.logo{
				opacity: 1;
			}
		}
	}
	img{
		max-width: 100%;
	}
	.col-md-6{
		padding: 0;
		padding-left: 3px;
		padding-right: 3px;
	}
	.row{
		padding-left: 12px;
		padding-right: 12px;
	}
}
// ppls code end





// partners code
.partners{
	background: black;
	padding-bottom: 63px;

	h1{
		max-width: 700px;
		margin: auto;
		text-align: center;
		color: #fff;

		font-family: TitlingGothicFBWideBold;
		font-size: 35px;
		font-weight: bold;
		font-stretch: normal;
		font-style: normal;
		line-height: 1.14;
		letter-spacing: normal;

		margin-bottom: 25px;
	}
	p{
		max-width: 620px;
		margin: auto;
		text-align: center;
		color: #fff;

		font-family: TitlingGothicFBWideLight;
		font-size: 15px;
		font-weight: 300;
		font-stretch: normal;
		font-style: normal;
		line-height: 1.67;
		letter-spacing: normal;
	}
}
.brandsimg{
	background: black;
	padding-bottom: 146px;
	img{
		display: block;
		max-width: 800px;
		width: 100%;
		margin: auto;
	}
}
// partners code end





// studios code
.studios{
	background: black;
	padding-bottom: 57px;

	h1{
		max-width: 700px;
		margin: auto;
		text-align: center;
		color: #fff;

		font-family: TitlingGothicFBWideBold;
		font-size: 35px;
		font-weight: bold;
		font-stretch: normal;
		font-style: normal;
		line-height: 1.14;
		letter-spacing: normal;

		margin-bottom: 25px;
	}
	p{
		max-width: 600px;
		margin: auto;
		text-align: center;
		color: #fff;

		font-family: TitlingGothicFBWideLight;
		font-size: 15px;
		font-weight: 300;
		font-stretch: normal;
		font-style: normal;
		line-height: 1.67;
		letter-spacing: normal;
	}
}
// studios code end


// studiospics code
.studiospics{
	background: black;
	padding-bottom: 116px;
	.divforimg{
		max-width: 100%;
		overflow: hidden;
		position: relative;
		height: 256px;
		img{
			max-height: 256px;

			position: absolute;
			  left: 50%;
			  transform: translateX(-50%);
		}
	}


	h2{
		margin-top: 10px;
		max-width: 700px;
		margin: auto;
		text-align: center;
		color: #fff;

		font-family: TitlingGothicFBWideBold;
		font-size: 15px;
		font-weight: bold;
		font-stretch: normal;
		font-style: normal;
		line-height: 2.67;
		letter-spacing: normal;
		text-align: center;
		color: #ffffff;
	}


	.col-md-4{
		padding: 0;
		padding-left: 4px;
		padding-right: 4px;
	}
	.row{
		padding-left: 11px;
		padding-right: 11px;
	}
}
// studiospics code end



// svod code
.svod{
	background: black;
	padding-bottom: 38px;

	h1{
		max-width: 700px;
		margin: auto;
		text-align: center;
		color: #fff;

		font-family: TitlingGothicFBWideBold;
		font-size: 35px;
		font-weight: bold;
		font-stretch: normal;
		font-style: normal;
		line-height: 1.14;
		letter-spacing: normal;

		margin-bottom: 25px;
	}
	p{
		max-width: 600px;
		margin: auto;
		text-align: center;
		color: #fff;

		font-family: TitlingGothicFBWideLight;
		font-size: 15px;
		font-weight: 300;
		font-stretch: normal;
		font-style: normal;
		line-height: 1.67;
		letter-spacing: normal;
	}
}
// svod code end

// svod_coming_soon_sec css
.svod_coming_soon_sec{
	padding-top: 99px;
	padding-bottom: 70px;
	background: url("../img/Noenbackground.png") no-repeat center center fixed; 
	 -webkit-background-size: cover;
	 -moz-background-size: cover;
	 -o-background-size: cover;
	 background-size: cover;
	img{
		max-width: 526.5px;
		margin: auto;
		display: block;
		width: 100%;
	}
	h3{
		max-width: 698px;
		margin: auto;
		text-align: center;
		color: #fff;

		font-family: TitlingGothicFBWideBold;
		text-transform: uppercase;
		font-size: 13px;
		  font-weight: bold;
		  font-stretch: normal;
		  font-style: normal;
		  line-height: 1.92;
		  letter-spacing: normal;
		  text-align: center;
		  color: #ffffff;

		margin-top: 25px;
	}
}
// svod_coming_soon_sec css end




// recentheadlines css
.recentheadlines{
	background: #000;
	padding-top: 118px;
	padding-bottom: 124px;
	h1{
		max-width: 700px;
		margin: auto;
		text-align: center;
		color: #fff;

		font-family: TitlingGothicFBWideBold;
		font-size: 35px;
		font-weight: bold;
		font-stretch: normal;
		font-style: normal;
		line-height: 1.14;
		letter-spacing: normal;

		margin-bottom: 56px;
	}
	img{
		max-width: 100%;
	}
	.col-md-4{
		padding: 0;
		padding-left: 8.5px;
		padding-right: 8.5px;
	}
	.row{
		padding-left: 6.5px;
		padding-right: 6.5px;
	}



	.rechl{
		display: block;
		border: solid 0.5px #3d3d3d;
		padding-bottom: 13px;
		min-height: 310px;
		position: relative;

		.imgdiv{
			position: relative;

			.logo{
				position: absolute;
				z-index: 1;
				left: 0;
				right: 0;
				max-width: 100%;
				margin: auto;

				padding-left: 15px;
				padding-right: 15px;


				top: 50%;
				 transform: translateY(-50%);
			}
		}

		p{
			max-width: 280px;
			font-family: TitlingGothicFBWideLight;
			font-size: 12px;
			font-weight: normal;
			font-stretch: normal;
			font-style: normal;
			line-height: 1.42;
			letter-spacing: normal;
			color: #ffffff;
			padding: 16px 14px;
			padding-bottom: 0;
			margin: 0;
		}
		.readmore{
			opacity: 0.6;
			  font-family: TitlingGothicFBWideStand;
			  font-size: 8px;
			  font-weight: normal;
			  font-stretch: normal;
			  font-style: normal;
			  line-height: 2;
			  letter-spacing: 1.2px;
			  color: #d1cfcf;


			  position: absolute;
			  bottom: 10px;
			  left: 14px;

			  -webkit-transition: all .15s ease;
			     -moz-transition: all .15s ease;
			      -ms-transition: all .15s ease;
			       -o-transition: all .15s ease;
			          transition: all .15s ease;
		}
		img,p{
			-webkit-transition: all .25s ease;
			   -moz-transition: all .25s ease;
			    -ms-transition: all .25s ease;
			     -o-transition: all .25s ease;
			        transition: all .25s ease;
		}
	}

	a:hover{
		text-decoration: none;
		opacity: 1;
		text-decoration: none;
		
		img{
			opacity: 0.6;
		}
		.logo{
			opacity: 1;
		}
		p{
			text-decoration: none;
			opacity: 0.6;
		}
		.readmore{
			letter-spacing: 2px;
			opacity: 0.6;
		}
	}
}
// recentheadlines css end


// joinsec css
.joinsec{
	background: #fff;
	padding-top: 62px;
	padding-bottom: 63px;

	h1{
		max-width: 441px;
		margin: auto;
		text-align: center;
		color: #000;

		font-family: TitlingGothicFBWideBold;
		font-size: 35px;
		font-weight: bold;
		font-stretch: normal;
		font-style: normal;
		line-height: 1.14;
		letter-spacing: normal;

		margin-bottom: 32px;
	}
	p{
		text-align: center;
		margin: 0;
		a{
			font-family: TitlingGothicFBWideBold;
			  font-size: 10px;
			  font-weight: bold;
			  font-stretch: normal;
			  font-style: normal;
			  line-height: 2;
			  letter-spacing: 1.2px;
			  text-align: center;
			  color: #000000;

			  display: inline-block;
			  min-width: 262px;
			  padding-top: 16px;
			  padding-bottom: 14px;

			  border: 2px solid #000;

			-webkit-transition: all .15s ease;
			   -moz-transition: all .15s ease;
			    -ms-transition: all .15s ease;
			     -o-transition: all .15s ease;
			        transition: all .15s ease;
		}

		a:hover{
			background: #000;
			color: #fff;
			opacity: 1;
			text-decoration: none;
		}
	}
}
// joinsec css end








// footer css

.footer{
	background: black;
}


footer {
  padding: 0 0 3rem;
}

.footer__contact {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  margin-bottom: 2rem;
}
@media (min-width: 768px) {
  .footer__contact {
    padding-top: 3rem;
    text-align: left;
    flex-wrap: nowrap;
  }
}

.footer__title {
  flex-basis: 100%;
  margin: 0 0;
  margin-bottom: 2rem;

  font-family: TitlingGothicFBWideBold;
  font-size: 30px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.17;
  letter-spacing: normal;
  color: #ffffff;
}
@media (min-width: 768px) {
  .footer__title {
    flex-basis: 50%;
  }
}

.footer__subtitle {
  font-size: 0.8125rem;
  margin: 0.625rem 0;
  color: #fff;

  font-family: TitlingGothicFBWideBold;
    font-size: 13px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.54;
    letter-spacing: normal;
    color: #ffffff;

    margin-bottom: 0;
}

.footer__details {
  margin-bottom: 2rem;
  font-size: 0.625rem;
  font-weight: 300;
  color: #A6A6A6;
  display: inline-block;
  transition: color 200ms ease-in-out;
  text-decoration: none;
}


.footer__info {
  flex-basis: 100%;
}



.press__image {
  position: relative;
  flex-basis: 50%;
  padding: 20px;
}
@media (min-width: 768px) {
  .press__image {
    flex-basis: 100%;
    padding: 0;
  }
}

.press__details {
  flex-basis: 50%;
  padding: 20px 10px 20px 0;
  position: relative;
}
@media (min-width: 768px) {
  .press__details {
    padding: 20px;
    flex-basis: 100%;
  }
}

.press__feature {
  width: 100%;
}

.press__overlay {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  max-width: 50%;
}
@media (min-width: 768px) {
  .press__overlay {
    max-width: 80%;
  }
}

.press__description {
  font-size: 0.65rem;
  line-height: 1.42;
  font-weight: 200;
  margin: 0;
}
@media (min-width: 768px) {
  .press__description {
    font-size: 0.75rem;
    font-weight: 300;
    margin: 0 0 2.5rem;
  }
}

.press__readmore {
  opacity: 0.6;
  font-size: 0.5rem;
  line-height: 2;
  letter-spacing: 1.2px;
  color: #a6a6a6;
  text-transform: uppercase;
  text-decoration: none;
  transition: color 200ms ease-in-out;
  position: absolute;
  bottom: 20px;
}
.press__readmore:hover {
  color: #dadada;
}

.work {
  text-align: center;
  position: relative;
  overflow: hidden;
}
.work__bg {
  max-width: 100%;
  width: 100%;
}

@media (min-width: 768px) {
  .work__bg--mobile {
    display: none;
  }
}

.work__bg--dekstop {
  display: none;
}
@media (min-width: 768px) {
  .work__bg--dekstop {
    display: block;
  }
}

.work__content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}

.work__subtitle {
  font-size: 0.6125rem;
  font-weight: 300;
  line-height: 1.54;
  margin: 0;
  transform: translateY(5px);
}
@media (min-width: 768px) {
  .work__subtitle {
    font-size: 0.8125rem;
  }
}

.work__title {
  margin: 1rem 0;
  line-height: 1;
}

footer {
  padding: 0 0 3rem;
}

.footer__contact {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  margin-bottom: 2rem;
}
@media (min-width: 768px) {
  .footer__contact {
    padding-top: 3rem;
    text-align: left;
    flex-wrap: nowrap;
  }
}

.footer__title {
  flex-basis: 100%;
  margin: 0 0;
  margin-bottom: 2rem;
  color: #fff;
}
@media (min-width: 768px) {
  .footer__title {
    flex-basis: 50%;
  }
}

.footer__subtitle {
  font-size: 0.8125rem;
  margin: 0.625rem 0;
  margin-bottom: 0;
}

.footer__details {
  margin-bottom: 2rem;
  font-size: 0.625rem;
  font-weight: 300;
  color: #A6A6A6;
  display: inline-block;
  transition: color 200ms ease-in-out;
  text-decoration: none;


  font-family: TitlingGothicFBWideStand;
    font-size: 10px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 2;
    letter-spacing: normal;
    color: rgba(255, 255, 255, 0.65);
}
.footer__details:hover {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.65);
  opacity: 0.7;
}

.footer__info {
  flex-basis: 100%;
}
@media (min-width: 768px) {
  .footer__info {
    flex-basis: 35%;
  }
}

.footer__info--address {
  flex-basis: 100%;
  padding: 0 15px;
}
@media (min-width: 768px) {
  .footer__info--address {
    flex-basis: 18%;
  }
}

address {
  font-size: 0.625rem;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.65);
  font-style: normal;
  line-height: 1.7;

  font-family: TitlingGothicFBWideStand;
   font-size: 10px;
   font-weight: normal;
   font-stretch: normal;
   font-style: normal;
   line-height: 1.7;
   letter-spacing: normal;
   color: rgba(255, 255, 255, 0.65);
}

@media (min-width: 768px) {
  .footer__extra {
    display: flex;
    flex-wrap: wrap;
  }
}

.footer__copyright {
  flex-basis: 100%;
  font-size: 0.625rem;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.65);
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 2rem;


  font-family: TitlingGothicFBWideStand;
   font-size: 10px;
   font-weight: normal;
   font-stretch: normal;
   font-style: normal;
   line-height: 2;
   letter-spacing: normal;
   color: rgba(255, 255, 255, 0.65);
}
@media (min-width: 768px) {
  .footer__copyright {
    margin: 0;
    text-align: left;
    flex-basis: 50%;
  }
}

.footer__totop {
  flex-basis: 100%;
  text-align: center;
  font-size: 0.625rem;
  font-weight: 700;
  cursor: pointer;
  margin-bottom: 2rem;
}
@media (min-width: 768px) {
  .footer__totop {
    text-align: right;
    flex-basis: 50%;
  }
}
.footer__totop-link{
	color: #fff;
	font-family: TitlingGothicFBWideBold;
	 font-size: 10px;
	 font-weight: bold;
	 font-stretch: normal;
	 font-style: normal;
	 line-height: 2;
	 letter-spacing: normal;
	 color: #ffffff;
}
.footer__totop-link:hover .footer__totop-icon {
  transform: translateY(-15px);
  opacity: 0;
  transition: opacity 400ms ease-in-out, transform 500ms ease-in-out;
}

.footer__totop-icon {
  display: inline-block;
  transform: translateY(0);
  opacity: 1;
}


















